* {
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}

#logo {
    margin: 9px 30px;
}

#logo img {
    height: auto;
    margin: 20px 31px;
}

#navbar ul {
    display: flex;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80%;
    width: 100%;
    z-index: -5;
    opacity: .5;
}


#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    transition: .4s ease;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}



#home {
    display: flex;
    flex-direction: column;
    padding: 3px 350px;
    height: 490px;
    justify-content: center;
    align-items: center;
}


#home::before {
    content: "";
    position: absolute;
    background: url(21.jpg) no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .60;
}

#home h1 {
    color: rgba(12, 59, 3, 0.89);
    text-align: center;
}

#home p {
    color: rgb(9, 48, 2);
    text-align: center;
    font-size: 1.2rem;
}

.hp {
    font-size: 3rem;
    padding: 12px;
}

#service {
    margin: 34px;
    display: flex;
}

#service .box {
    margin-top: 55px;
    border: 3px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}

#service .box img {
    height: 178px;
    display: block;
    margin: auto;
    border-radius: 16px;
}

#service .box p {
    font-family: sans-serif;
    font-size: 0.9rem;
}

#clintsec {
    position: relative;
    height: 50px;
    font-size: 40px;
}

#clintsec::before {
    content: "";
    position: absolute;
    background: url(background1.jpg) no-repeat center center / cover;
    width: 100%;
    height: 240px;
    z-index: -1;
    opacity: .7;
}

#clint {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clint-item {
    padding: 30px;
}

.clint-item img {
    height: 124px;
}

/* Contact section */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(contactus.jpg) no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


footer {
    background: black;
    color: white;
    padding-top: 20px;
}

.hprim {
    font-size: 3rem;
    padding: 12px;
}

.hsec {
    font-size: 1.9rem;
    padding: 12px;
}

.btn {
    padding: 5px 20px;
    border: 2px solid rgb(9, 48, 2);
    background-color: rgba(12, 66, 3, 0.904);
    color: white;
    font-size: 1.5rem;
    margin: 17px;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}